MERCHANT_ACCOUNT=Test_integration
PAYWALL_SECRET_KEY=9uhPPPQH14ThccEn
NOTIFICATION_KEY=your_notification_key
PAYWALL_URL=https://test-paywall.url.ma/launch
CALLBACK_URL=https://your-server.example.com/callback
SUCCESS_URL=https://your-merchant.example.com/success
FAILURE_URL=https://your-merchant.example.com/failure
CANCEL_URL=https://your-merchant.example.com/cancel
PORT=4000
